body {
    font-family: sans-serif;
}

a {
    color: rgb(255. 91, 0)
}

a:hover {
    color: rgb(255, 185, 35)
}

header {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid rgb(0, 174,255);
}

body h1 {
    font-size: 2em;
}

header nav ul li {
    display: inline;
}

.clear {
    clear: both;
}

#projects, #aboutme {
    margin: 0 auto;
    width: 90%;
    max-width: 100 0px;
}
.project, #aboutme img {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 174, 255);
}
.project, #aboutme img {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.project h2, #aboutme h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}